@using AnsibeProject.Models;
@model List<Section>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="courses">
    <h1 class="heading">Professors</h1>
    <div class="box-container" >
        <div class="box">
            <h3>Active Professors</h3>
            @* <a asp-controller="Professor" asp-action="Add" class="inline-btn">add Professor</a> *@
            <form method="post">
                <table class="table table-striped Active-datatable">
                <thead>
                    <tr>
                        <th data-searchable="true">File Number</th>
                        <th data-searchable="true">Full Name In Arabic</th>
                        <th data-searchable="true">Speciality</th>
                        <th data-searchable="true">Rank</th>
                        
                        <th data-searchable="true">Contract Type</th>
                        
                        <th data-searchable="true">Full Name</th>
                        <th data-searchable="true">Select</th>

                    </tr>
                </thead>
                    <tbody style="background-color:white !important;">
                    @if (ViewBag.professors != null)
                    {


                        @foreach (var professor in ViewBag.professors)
                        {
                            if (professor.ActiveState.Equals(ActiveState.Active))
                            {



                                    <tr id="@professor.FileNumber">
                                    <td>
                                        @professor.FileNumber
                                    </td>
                                    <td>@professor.FullNameInArabic</td>
                                    <td>
                                        @professor.Speciality
                                    </td>
                                    <td>
                                        @professor.Rank
                                    </td>
                                    
                                    <td>
                                        @professor.Contract.ContractType
                                    </td>
                                    

                                    @* <td>
                        @professor.Contract.MaxHours
                        </td>
                        <td>
                        @professor.Contract.MinHours
                        </td> *@
                                    <td>
                                        @professor.FirstName @professor.MiddleName @professor.LastName
                                    </td>
                                    <td>
                                            <button value="Assign" name="Assign" class="inline-btn" onclick="showAssignPopup(this)" type="button">Assign</button>

                                    </td>

                                </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="5">
                                            <table id="course-@professor.FileNumber" class="table">
                                                <thead>
                                                    <tr>
                                                        <th >Course Code</th>
                                                        <th >Course Description</th>
                                                        <th >Course Hours</th>

                                                        <th >TD</th>
                                                        <th >TP</th>

                                                        <th >Language</th>
                                                        <th style="display:none">sectionId</th>
                                                        <th>delete</th>
                                                        <th style="display:none">sectionId</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="body-@professor.FileNumber">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                            }

                        }

                    }


                </tbody>
            </table>
                <button type="button" onclick="submitAllocation()" class="inline-btn">OK</button>
            </form>
            <div class="popup" id="popup">
                <!-- Your HTML content for the pop-up screen goes here -->
                <h2>Assign Professor</h2>
                <h1 class="heading">Sections</h1>
                <div class="box-container">
                    <div class="box">
                        <button type="button" onclick="showAssignPopup(this)" class="inline-btn">SAVE</button>
                        <button type="button" onclick="cancel()" class="inline-btn">Cancel</button>
                        <table class="table table-striped Active-datatable">
                            <thead>
                                <tr>
                                    <th data-searchable="true">Course Code</th>
                                    <th data-searchable="true">Course Description</th>
                                    <th data-searchable="true">Course Hours</th>

                                    <th data-searchable="true">TD</th>
                                    <th data-searchable="true">TP</th>

                                    <th data-searchable="true">Language</th>


                                </tr>
                            </thead>
                            <tbody id="SectionId">
                                @if (Model != null && Model.Count() > 0)
                                {

                                    @foreach (var s in Model)
                                    {
                                        <tr>
                                            <td>
                                                @s.Course.CourseCode
                                            </td>
                                            <td>@s.Course.CourseDescription</td>
                                            <td>
                                                @s.CourseHours
                                            </td>
                                            <td>
                                                @s.TD
                                            </td>

                                            <td>
                                                @s.TP
                                            </td>

                                            <td>
                                                @s.Language
                                            </td>
                                            <td style="display:none">@s.SectionId</td>
                                            <td>
                                                <input type="checkbox" name="c1[]" />
                                            </td>
                                            
                                        </tr>

                                    }
                                    
                                    
                                    

                                }


                            </tbody>
                        </table>
                        
                    </div>
                </div>
        </div>

    </div>

</section>