@using AnsibeProject.Models;
@model List<Course>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    
    <div id="partial-view">
<section class="courses" >
    <div class="box-container">
       
        <form class="box" >
            <h1>Courses</h1>
                <table class="table table-striped Active-datatable">
                <thead>
                <th>Course Code</th>
                <th>Course Description</th>
                <th>Course Hour</th>
                <th>TD</th>
                <th>TP</th>
                <th>Language</th>
                <th>Add</th>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var course in Model)
                        {
                            if (course.CourseState.Equals(ActiveState.Active))
                            {
                                <tr id="@course.CourseCode">
                                    <td>
                                        @course.CourseCode
                                    </td>
                                    <td>
                                        @course.CourseDescription
                                    </td>
                                    <td>
                                        <input type="checkbox" name="c[]" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="c[]" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="c[]" />
                                    </td>
                                    <td>
                                        <select asp-items="Html.GetEnumSelectList<AnsibeProject.Models.Language>()">
                                            
                                        </select>
                                    </td>
                                    <td>
                                        <button class="inline-btn" onclick="SaveList(this,'@course.CourseCode','@course.CourseDescription', '@course.NumberOfHours','@course.TP','@course.TD')" type="button">Add</button>
                                    </td>
                                    
                                </tr>
                             
                            }

                        }
                    }
                </tbody>
            </table>
            <button type="button" class="inline-btn" onclick="SubmitSection()">save</button>
        </form>
    </div>

</section>
</div>
@section Scripts {
    <script src="~/lib/js/CreateAllocation.js"></script>
}