@using AnsibeProject.Models;
@model List<Professor>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="courses">
    <h1 class="heading">Professors</h1>
    <div class="box-container">
        <div class="box">
        <form method="post" asp-controller="Professor" asp-action="ImportExcel" enctype="multipart/form-data">
            <input type="file" accept=".xlsx, .xls" name="file" />
                <button type="submit" asp-controller="Professor" asp-action="ImportExcel" class="inline-btn">Import from Excel</button>
        </form>
    </div>
    
        <div class="box">
            <h3>Active Professors</h3>
            <a asp-controller="Professor" asp-action="Add" class="inline-btn">add Professor</a>

            <table class="table table-striped" id="Active-datatable">
                <thead>
                    <tr>
                        <th data-searchable="true">File Number</th>
                        <th data-searchable="true">Full Name In Arabic</th>
                        <th data-searchable="true">Speciality</th>
                        <th data-searchable="true">Rank</th>
                        <th data-searchable="true">Email</th>
                        <th data-searchable="true">Phone Number</th>
                        <th data-searchable="true">Contract Type</th>
                        @* <th data-searchable="true">Max Hours</th>
                        <th data-searchable="true">Min Hours</th> *@
                        <th data-searchable="true">Full Name</th>
                        <th data-searchable="true">Date Of Birth</th>
                        <th data-searchable="true">Edit</th>
                        <th data-searchable="true">Deactivate</th>
                        <th data-searchable="true">Delete</th>
                    </tr>
                </thead>
                <tbody id="Active">
                @if (Model != null && Model.Count() > 0)
                    {
   
      
                        @foreach (var professor in Model)
                        {
                            if (professor.ActiveState.Equals(ActiveState.Active))
                            {



                                <tr>
                                    <td>
                                        @professor.FileNumber
                                    </td>
                                    <td>@professor.FullNameInArabic</td>
                                    <td>
                                        @professor.Speciality
                                    </td>
                                    <td>
                                         @EnumHelper.GetEnumDescription(professor.Rank)
                                    </td>
                                    <td>
                                        @professor.Email
                                    </td>
                                    <td>
                                        @professor.PhoneNumber
                                    </td>
                                    <td>
                                        @professor.Contract.ContractType
                                    </td>

                                    @* <td>
                                        @professor.Contract.MaxHours
                                    </td>
                                    <td>
                                        @professor.Contract.MinHours
                                    </td> *@
                                    <td>
                                        @professor.FirstName @professor.MiddleName @professor.LastName
                                    </td>
                                    <td>
                                        @professor.DateOfBirth
                                    </td>
                                    
                                    <td>
                                        <a asp-controller="Professor" asp-action="Edit" asp-route-FileNumber="@professor.FileNumber" class="inline-btn">edit</a>
                                    </td>
                                    <td>
                                        <button class="inline-btn" id="toggle-btn" onclick="toggleState(@professor.FileNumber,this)">Deactivate</button>
                                    </td>
                                    <td>
                                        <a class="inline-delete-btn" onclick="confirmDelete('@professor.FileNumber')">delete</a>
                                    </td>
                                </tr>

                            }

                        }

                        }


                    </tbody>
                </table>
            </div>
            <div class="box unactive">
                <h3>Inactive Professors</h3>
                <table class="table table-striped" id="Inactive-datatable">
                    <thead>
                        <tr>
                            <th data-searchable="true">File Number</th>
                            <th data-searchable="true">Full Name In Arabic</th>
                            <th data-searchable="true">Speciality</th>
                            <th data-searchable="true">Rank</th>
                            <th data-searchable="true">Email</th>
                            <th data-searchable="true">Phone Number</th>
                        <th data-searchable="true">Contract Type</th>
                        @* <th data-searchable="true">Max Hours</th>
                        <th data-searchable="true">Min Hours</th> *@
                        <th data-searchable="true">Full Name</th>
                            <th data-searchable="true">Date Of Birth</th>
                            <th data-searchable="true">Edit</th>
                            <th data-searchable="true">Deactivate</th>
                            <th data-searchable="true">Delete</th>
                        </tr>
                    </thead>
                <tbody id="Inactive">
                        @foreach (var professor in Model)
                        {
                            if (professor.ActiveState.Equals(ActiveState.NotActive))
                            {



                                <tr>
                                    <td>
                                        @professor.FileNumber
                                    </td>
                                    <td>@professor.FullNameInArabic</td>
                                    <td>
                                        @professor.Speciality
                                    </td>
                                    <td>
                                        @professor.Rank
                                    </td>
                                    <td>
                                        @professor.Email
                                    </td>
                                    <td>
                                        @professor.PhoneNumber
                                    </td>
                                <td>
                                    @professor.Contract.ContractType
                                </td>

                                @* <td>
                                    @professor.Contract.MaxHours
                                </td>
                                <td>
                                    @professor.Contract.MinHours
                                </td> *@
                                <td>
                                    @professor.FirstName @professor.MiddleName @professor.LastName
                                </td>
                                    <td>
                                        @professor.DateOfBirth
                                    </td>
                                    <td>
                                        <a asp-controller="Professor" asp-action="Edit" asp-route-FileNumber="@professor.FileNumber" class="inline-btn">edit</a>
                                    </td>
                                    <td>
                                        <button class="inline-btn" id="toggle-btn" onclick="toggleState(@professor.FileNumber,this)">Activate</button>
                                    </td>
                                    <td>
                                        <button class="inline-delete-btn" onclick="confirmDelete('@professor.FileNumber')">delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>
        </div>
   
    @section Scripts {
    <script>
        $(document).ready(function () {
                $('.table').DataTable({
                    // Define language settings
                    language: {
                        // Customize the text for when the table is empty
                        emptyTable: "",
                        zeroRecords: ""
                    }
                });
        });
            function toggleState(FileNumber, button) {
                var requestParameter = {
                    fileNumber: FileNumber
                }
                $.ajax({
                    url: '@Url.Action("ChangeProfessorState", "Professor")',
                    type: 'POST',
                    data: requestParameter,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {

                            var table1 = $('#Inactive-datatable').DataTable();
                            var table2 = $('#Active-datatable').DataTable();
                            var row = $(button).closest('tr');


                            if (data.target == "Active") {

                                var rowData = table1.row(row).data();
                                table1.row(row).remove().draw();
                                rowData[10] = rowData[10].replace("Activate", "Deactivate");
                                table2.row.add(rowData).draw();
                            }
                            else {


                                var rowData = table2.row(row).data();

                                table2.row(row).remove().draw();
                                rowData[10] = rowData[10].replace("Deactivate", "Activate");
                                table1.row.add(rowData).draw();
                            }
                        }
                            else{
                            console.error(data.errorMessage);
                            }
                    },
                    error: function (xhr, status, error) {
                        cosole.error(xhr.responseJSON.errorMessage);
                    }
                })
            }
        function confirmDelete(fileNumber) {
            Swal.fire({
                title: "Are you sure you want to delete this professor?",
                text: "This action cannot be undone. you can Deactivate",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms, perform the delete action
                    window.location.href = "/Professor/Delete?FileNumber=" + fileNumber;
                } else {
                    // If user cancels, show an informational message
                    Swal.fire("Deletion cancelled", "", "info");
                }
            });
        }
    </script>
    }
    
</section>