@using AnsibeProject.Models;
@model List<Professor>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="courses">
    <h1 class="heading">Professors !</h1>
<div class="box-container">
        <div class="box">
            <div class="tutor">
                <h1>Add New Professor</h1>
            </div>

            <a asp-controller="Professor" asp-action="Add" class="inline-btn">add</a>
            </div>

    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var professor in Model)
        {
            @if (professor.ActiveState.Equals(ActiveState.Active))
            {
                <div class="box" id="@professor.FileNumber">
                    <div class="tutor">
                            <h1 class="h1-class">@professor.FirstName @professor.MiddleName @professor.LastName</h1>
                            @* <h1 class="h1-class">@professor.MiddleName</h1>
                            <h1 class="h1-class">@professor.LastName</h1> *@
                            <h3>@professor.Speciality</h3>
                    
                </div>
                        
                <table class="table table-striped">
                            <tr>
                                <td>
                                    File Number : @professor.FileNumber
                                </td>
                                <td>
                                    @professor.Rank
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @professor.Email
                                </td>
                                <td>
                                    Tel: @professor.PhoneNumber
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @professor.DateOfBirth
                                </td>
                                <td>
                                    Contract: @professor.Contract.ContractType
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Maximum Hours : @professor.Contract.MaxHours
                                </td>
                                <td>
                                    Minimum Hours : @professor.Contract.MinHours
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    @professor.FullNameInArabic
                                </td>

                            </tr>


                </table>
                        <div class="flex-btn">
                <a asp-route-FileNumber="@professor.FileNumber" class="inline-btn"
                   asp-controller="Professor" asp-action="Edit">Edit</a>

                <a class="inline-btn" id="toggle-btn"  onclick="toggleState(@professor.FileNumber, this)">Active</a>
                <a class="inline-delete-btn"
                   onclick="showAlert('@professor.FileNumber')">Delete</a>

                   </div>
                </div>
            }
            else
            {
                    <div class="box unactive" id="@professor.FileNumber">
                    <div class="tutor">
                    <h1 class="h1-class">@professor.FirstName</h1>
                            <h1 class="h1-class">@professor.MiddleName</h1>
                            <h1 class="h1-class">@professor.LastName</h1>
                   
                </div>
                        <span>@professor.Speciality</span>
                <table class="table table-striped">
                    <tr>
                        <td>
                                    File Number : @professor.FileNumber
                        </td>
                        <td>
                            @professor.Rank
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @professor.Email
                        </td>
                        <td>
                            Tel: @professor.PhoneNumber
                        </td>
                    </tr>
                            <tr>
                                <td>
                                    @professor.DateOfBirth
                                </td>
                                <td>
                                    Contract: @professor.Contract.ContractType
                                </td>
                            </tr>
                    <tr>
                        <td>
                            Maximum Hours : @professor.Contract.MaxHours
                        </td>
                        <td>
                            Minimum Hours : @professor.Contract.MinHours
                        </td>
                        
                    </tr>
                            <tr>
                                <td colspan="2">
                                    @professor.FullNameInArabic
                                </td>
                            
                            </tr>

                </table>
                <div class="flex-btn">
                <a asp-route-FileNumber="@professor.FileNumber" class="inline-btn"
                   asp-controller="Professor" asp-action="Edit">Edit</a>


                    <a class="inline-btn" id="toggle-btn" onclick="toggleState(@professor.FileNumber,this)">Passive</a>

                <a class="inline-delete-btn"
                   onclick="showAlert('@professor.FileNumber')">Delete</a>

                </div>
                </div>
            }

            }
        }
        else
        {
            <h1>No Professors</h1>
        }

</div>
</section>
@section Scripts {
    <script>
        function toggleState(FileNumber, button) {
            console.log(FileNumber);
            var requestParameter = {
                fileNumber : FileNumber
            }
            $.ajax({
                url: '@Url.Action("ChangeProfessorState", "Professor")',
                type: 'POST',
                data: requestParameter,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        let body = document.getElementById(FileNumber.toString())
                        body.classList.toggle('unactive');
                        button.textContent = (button.textContent == "Active") ? "Passive" : "Active";
                        
                    }
                    else {
                        console.error(data.errorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    cosole.error(xhr.responseJSON.errorMessage);
                        }
            })
        }
        function showAlert(FileNumber) {
            Swal.fire({
                title: "Are you sure you want to delete this course?",
                text: "This action cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms, perform the delete action

                    window.location.href = "Professor/Delete?FileNumber=" + FileNumber;
                    
                } else {
                    // If user cancels, show an informational message
                    Swal.fire("Deletion cancelled", "", "info");
                }
            });
        }
    </script>
}
