@using AnsibeProject.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="side-bar">

    <nav class="navbar">
        <a onclick="showDropdown()"><i class="fas fa-code-compare"></i><span style="user-select: none;">Use Existing One</span></a>
        <a onclick="showCreateSection()"><i class="fas fa-plus"></i><span style="user-select: none;">Create Section</span></a>
        <a onclick="swapContent()"><i class="fas fa-right-left"></i><span style="user-select: none;">swap<span></a>
        <a onclick="saveWork()"><i class="fas fa-floppy-disk"></i></i><span style="user-select: none;">Save Work<span></a>


    </nav>

</div>
<div class="side-bar active">
    <nav class="navbar">
        <form method="post">
            <select class="dropdown" onchange="getAllocationBasedOnYear(this)">
                <option value="">Year</option>
                @if (ViewBag.Year != null)
                {
                    foreach (string str in ViewBag.Year)
                    {
                        <option value="@str">@str</option>
                    }
                }
            </select>

        </form>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ansibe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="Ansibe-tbody">
                </tbody>
            </table>
        </div>
    </nav>

</div>
<section class="Assign">
    <div class="box-container">
        <div class="box">
            <h3>work space</h3>

            <input type="hidden" id="AnsibeId" value="@ViewBag.AnsibeId" />

            <div id="holder">
                @await Html.PartialAsync("ProfessorSections");
            </div>

        </div>

    </div>
</section>

<section class="courses"></section>

<div>
    <section>


        <div class="popup" id="popup">
            <form class="box">
                <div class="fixed-header">
                    <h1>Courses</h1>
                    <button type="button" onclick="saveCreatedSections()" class="inline-btn">SAVE</button>
                    <button type="button" onclick="cancelCreation()" class="inline-btn">Cancel</button>
                </div>
                <table class="table Active-datatable">
                    <thead class="fixed">
                    <th>Course Code</th>
                    <th>Course Description</th>
                    <th>Course Hour</th>
                    <th>TD</th>
                    <th>TP</th>
                    <th>Language</th>
                    <th>Add</th>
                    <th></th>
                    </thead>
                    <tbody>
                        @if (ViewBag.courses != null)
                        {


                            @foreach (var course in ViewBag.courses)
                            {

                                if (course.CourseState.Equals(ActiveState.Active))
                                {
                                    <tr id="CourseCode" style="border-bottom: 2px solid black;">
                                        <td>
                                            @course.CourseCode
                                        </td>
                                        <td>
                                            @course.CourseDescription

                                        </td>
                                        <td>
                                            <input type="checkbox" name="c[]" @(course.NumberOfHours == 0 ? "disabled" : "") />
                                        </td>
                                        <td>
                                            <input type="checkbox" name="c[]" @(course.TD == 0 ? "disabled" : "") />
                                        </td>
                                        <td>
                                            <input type="checkbox" name="c[]" @(course.TP == 0 ? "disabled" : "") />
                                        </td>
                                        <td>
                                            <select asp-items="Html.GetEnumSelectList<AnsibeProject.Models.Language>()">
                                            </select>
                                        </td>
                                        <td>
                                            @{
                                                var str = course.CourseDescription.Replace("\'", "\\'");
                                            }
                                            <button class="inline-btn" onclick="createSections(this,'@course.CourseCode','@str', '@course.NumberOfHours' ,'@course.TP','@course.TD')" type="button">Add</button>
                                        </td>
                                        <td>
                                            <table class="table">
                                                <thead>
                                                <th>course</th>
                                                <th>TD</th>
                                                <th>TP</th>
                                                <th>Language</th>
                                                <th></th>

                                                </thead>
                                                <tbody id="tbody-@course.CourseCode">
                                                </tbody>
                                            </table>

                                        </td>

                                    </tr>



                                }

                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>

    </section>
</div>

@section Scripts {
    <script src="~/lib/js/Assign.js"></script>
    <script src="~/lib/js/side-bar.js"></script>
} 