@using AnsibeProject.Models;
@model Professor;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="form-container">
    

   <form asp-action="Func" method="post" enctype="multipart/form-data">
      <h3>Add a new Teacher</h3>
      <p>first name <span>*</span></p>
      <input type="text" asp-validation-for="@Model.FirstName" name="name" placeholder="enter first name" required maxlength="50" class="box">
      <p>middle name <span>*</span></p>
        <input type="text" asp-validation-for="@Model.MiddleName" name="middle name" placeholder="enter middle name" required maxlength="50" class="box">
      <p>last name <span>*</span></p>
        <input type="text" asp-validation-for="@Model.LastName" name="lastName" placeholder="enter last name" required maxlength="20" class="box">
      <p>file number <span>*</span></p>
        <input type="number" asp-validation-for="@Model.FileNumber" name="filenumber" placeholder="enter file number" required maxlength="20" class="box">
      <p>date of birth <span>*</span></p>
        <input type="date" asp-validation-for="@Model.DateOfBirth" name="dateBirth" required class="box">
      <p>phone number <span>*</span></p>
        <input type="number" asp-validation-for="@Model.PhoneNumber" name="phone" placeholder="enter phone number" required maxlength="20" class="box">
      <p>email <span>*</span></p>
        <input type="email" asp-validation-for="@Model.Email" name="email" placeholder="enter email" required maxlength="20" class="box">
      <p>contract type <span>*</span></p>
        <input type="text" asp-validation-for="@Model.ContractType" name="conrtract" placeholder="enter contract type" required maxlength="20" class="box">
      <p>Speciality <span>*</span></p>
        <input type="number" asp-validation-for="@Model.Speciality" name="speciality" placeholder="enter speciality" required maxlength="20" class="box">
      <p>full Name in Arabic ! <span>*</span></p>
        <input type="text" asp-validation-for="@Model.FullNameInArabic" name="fullname" placeholder="enter full name" required maxlength="20" class="box">

        <input type="submit" asp-action="" value="register new" name="submit" class="btn">
   </form>

</section>
