@using AnsibeProject.Models;
@model List<Teachers>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="box" style="border: dashed">
    <input type="button" name="button0" value="+" />
</div>
@if (Model != null && Model.Count() > 0)
{
   @foreach (var teacher in Model)
   {
        <div class="box">
            <div class="tutor">
                <img src="images/pic-2.jpg" alt="">
                <div>
                    <h3>@teacher.FullNameInArabic</h3>
                    <span>@teacher.speciality</span>
                </div>
            </div>
            <p>Date of Birth : <span>@teacher.dateofbirth</span></p>
            <p>Email : <span>@teacher.email</span></p>
            <p>Tel Number : <span>@teacher.telephoneNumber</span></p>
            <p>Contract : <span>@teacher.contractType</span></p>
            <a href="teacher_profile.html" class="inline-btn"><input type="button" name="button1" value="edit" asp-controller="teachers" asp-action="edit" asp-route-id="@teacher.fileNumber" /></a>
        </div>
        
    }
}
