@using AnsibeProject.Models;
@model List<Section>;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    if (ViewBag.professor != null) ;
    Dictionary<string, List<Section>> courseSections = new Dictionary<string, List<Section>>();

    foreach (var section in Model)
    {

        var courseCode = section.Course.CourseCode;

        if (!courseSections.ContainsKey(courseCode))
        {
            courseSections[courseCode] = new List<Section>();
        }
        courseSections[courseCode].Add(section);
    }
}

<section class="Assign">
    <div>

        <form method="post" class="toggle-div visible" style="display: visible;">

            <table class="table Active-datatable">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Section </th>


                    </tr>
                </thead>
                <tbody>


                    @foreach (var course in courseSections)
                    {

                        <tr>
                            <td>
                                @course.Key
                            </td>

                            <td>
                                <table class="table Active-datatable">
                                    <thead>

                                    <th>Course Hours</th>
                                    <th>TD</th>
                                    <th>TP</th>
                                    <th>Language</th>
                                    <th>Assign</th>
                                    <th>Delete</th>
                                    </thead>
                                    <tbody>



                                        @foreach (var s in course.Value)
                                        {

                                            <tr>



                                                <td>
                                                    @s.CourseHours
                                                </td>
                                                <td>
                                                    @s.TD
                                                </td>

                                                <td>
                                                    @s.TP
                                                </td>

                                                <td>
                                                    @s.Language
                                                </td>
                                                <td>
                                                    @if (s.Professor != null)
                                                    {
                                                        @s.Professor.FullNameInArabic
                                                    }

                                                    else
                                                    {
                                                        <button class="inline-btn" type="button" onclick="showAssignProfessors(this)">Assign</button>

                                                    }
                                                </td>

                                                <td>

                                                    <button class="inline-delete-btn">Delete</button>


                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

        </form>




    </div>
    <div class="popup" id="popupProfessors">

        <div class="box-container">
            <div class="box">
                <h3>Active Professors</h3>
               
                <button type="button" onclick="cancel()" class="inline-btn">Cancel</button>
                <table class="table table-striped Active-datatable">
                    <thead>
                        <tr>
                            <th data-searchable="true">File Number</th>
                            <th data-searchable="true">Full Name In Arabic</th>
                            <th data-searchable="true">Speciality</th>
                            <th data-searchable="true">Rank</th>

                            <th data-searchable="true">Contract Type</th>

                            <th data-searchable="true">Full Name</th>
                            <th data-searchable="true">Select</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.professor != null)
                        {


                            @foreach (var professor in ViewBag.professor)
                            {
                                if (professor.ActiveState.Equals(ActiveState.Active))
                                {



                                    <tr id="@professor.FileNumber">
                                        <td>
                                            @professor.FileNumber
                                        </td>
                                        <td>@professor.FullNameInArabic</td>
                                        <td>
                                            @professor.Speciality
                                        </td>
                                        <td>
                                            @professor.Rank
                                        </td>

                                        <td>
                                            @professor.Contract.ContractType
                                        </td>

                                        <td>
                                            @professor.FirstName @professor.MiddleName @professor.LastName
                                        </td>
                                        <td>
                                            <button value="Assign" name="Assign" class="inline-btn" onclick="AssignProfessorInCourse(this)" type="button">Assign</button>

                                        </td>

                                    </tr>
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>