@using AnsibeProject.Models;
@model List<Section>;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="side-bar">

    <nav class="navbar">
      <form method="post">
          <select class="dropdown">
    <option value="">Year</option>
</select>
       </form>
        <table class="table">
            <tr>
                 <th>Ansibe</th>
                 <th>Show</th>
            </tr>
        </table>
    </nav>
   
</div>


<section class="Assing">
    <div class="box-container">
        <div class="box">
            <h3>Section/Professor</h3>
            <button class="inline-btn" onclick="showCreateSection()" type="button">Create Section</button>
            <button class="inline-btn" onclick="swapContent()" type="button">swap</button>
        </div>
    </div>
</section>


<div>
    <section>

        
            <div class="popup" id="popup">
                <form class="box">
                    <h1>Courses</h1>
                    <button type="button" onclick="showCreateSection()" class="inline-btn">SAVE</button>
                    <button type="button" onclick="showCreateSection()" class="inline-btn">Cancel</button>
                    <table class="table table-striped Active-datatable">
                        <thead>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Course Hour</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Language</th>
                        <th>Add</th>
                        </thead>
                        <tbody>
                         @if (ViewBag.courses != null)
                           {


                                @foreach (var course in ViewBag.courses)
                                {
                            
                                    if (course.CourseState.Equals(ActiveState.Active))
                                    {
                                        <tr id="CourseCode">
                                            <td>
                                                CourseCode
                                            </td>
                                            <td>
                                                CourseDescription
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <select asp-items="Html.GetEnumSelectList<AnsibeProject.Models.Language>()">
                                                </select>
                                            </td>
                                            <td>
                                                <button class="inline-btn" @*onclick="SaveList(this,'@course.CourseCode','@course.CourseDescription', '@course.NumberOfHours','@course.TP','@course.TD')" *@ type="button">Add</button>
                                            </td>

                                        </tr>

                                   }

                                }
                           }
                        </tbody>
                    </table>
                </form>
            </div>
    
</section>
</div>

   @section Scripts {
    <script>
        function showCreateSection() {
            var popup = document.getElementById("popup");
            popup.classList.toggle("open-popup");
        }

        //swap content table
        function swapContent() {
            var divs = document.querySelectorAll(".toggle-div");
            divs.forEach(function (div) {
                if (div.classList.contains("visible")) {
                    div.classList.remove("visible");
                    div.classList.add("hidden");
                    div.style.display = "none";
                } else {
                    div.classList.remove("hidden");
                    div.classList.add("visible");
                    div.style.display = "block";
                }
            });
        }
    </script>

} 