@using AnsibeProject.Models;
@* @model List<Ansibe>; *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="side-bar" style="overflow-y: auto !important; ">

    <nav class="navbar">
      <form method="post">
            <select class="dropdown" onchange="getAllocationBasedOnYear(this)">
                 <option value="">Year</option>
                @if (ViewBag.Year != null)
                {
                    foreach(string str in ViewBag.Year)
                    {
                        <option value="@str">@str</option>
                    }
                }
            </select>
       </form>
        <div >
        <table class="table">
            <thead>
            <tr>
                 <th>Id</th>
                 <th>Ansibe</th>
                 <th>Show</th>
            </tr>
            </thead>
            <tbody id="Ansibe-tbody">

            </tbody>
        </table>
        </div>
    </nav>
   
</div>
<section class="Assing">
    <div class="box-container">
        <div class="box">
            <h3>Section/Professor</h3>
            <button class="inline-btn" onclick="showCreateSection()" type="button">Create Section</button>
            <a class="inline-btn" asp-action="CourseSections" asp-controller="AssignP" >swap</a>
        </div>
    </div>
</section>

<section class="Assing"></section>

<div>
    <section>

        
            <div class="popup" id="popup">
                <form class="box">
                    <h1>Courses</h1>
                    <button type="button" onclick="showCreateSection()" class="inline-btn">SAVE</button>
                    <button type="button" onclick="showCreateSection()" class="inline-btn">Cancel</button>
                    <table class="table table-striped Active-datatable">
                        <thead>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Course Hour</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Language</th>
                        <th>Add</th>
                        </thead>
                        <tbody>
                         @if (ViewBag.courses != null)
                           {


                                @foreach (var course in ViewBag.courses)
                                {
                            
                                    if (course.CourseState.Equals(ActiveState.Active))
                                    {
                                        <tr id="CourseCode">
                                            <td>
                                                @course.CourseCode
                                            </td>
                                            <td>
                                                @course.CourseDescription
                                                
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <input type="checkbox" name="c[]" />
                                            </td>
                                            <td>
                                                <select asp-items="Html.GetEnumSelectList<AnsibeProject.Models.Language>()">
                                                </select>
                                            </td>
                                            <td>
                                                <button class="inline-btn" onclick="SaveList(this,'@course.CourseCode','@course.CourseDescription', '@course.NumberOfHours','@course.TP','@course.TD')" type="button">Add</button>
                                            </td>

                                        </tr>

                                   }

                                }
                           }
                        </tbody>
                    </table>
                </form>
            </div>
    
</section>
</div>


   @section Scripts {
    <script>
        function showCreateSection() {
            var popup = document.getElementById("popup");
            popup.classList.toggle("open-popup");
        }

        //swap content table
        function swapContent() {
            var divs = document.querySelectorAll(".toggle-div");
            divs.forEach(function (div) {
                if (div.classList.contains("visible")) {
                    div.classList.remove("visible");
                    div.classList.add("hidden");
                    div.style.display = "none";
                } else {
                    div.classList.remove("hidden");
                    div.classList.add("visible");
                    div.style.display = "block";
                }
            });
        }
    </script>
    <script>
        function getAllocationBasedOnYear(selected){
            let year = selected.value;
           
            $.ajax({
                url: '/AssignP/getAnsibeByYear',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ year: year }),
                success: function(response){
                    success(response);
                },
                error: function (xhr, status, error) {
                    failed(xhr, status, error);
                    
                }
            });

        }

        function success(response){
            console.log(response);
            let tbody = document.getElementById('Ansibe-tbody');
            tbody.innerHTML = '';

            for (let i = 0; i < response.length; i++) {
                row = document.createElement("tr");
                idCell = document.createElement('td');
                idCell.textContent = response[i].id;
                row.append(idCell);
                yearCell = document.createElement("td");
                yearCell.textContent = response[i].year;
                row.append(yearCell);
                

                let button = document.createElement("Button");
                button.textContent = "show";
                button.addEventListener("click", function () {
                    showAllocation(button);
                });
                button.classList.toggle("inline-btn");
                buttonCell = document.createElement('td');
                buttonCell.appendChild(button);
                row.append(buttonCell);


                tbody.appendChild(row);
            }
        }

        function failed(jqXHR, textStatus, errorThrown) {

            if (jqXHR.responseJSON && jqXHR.responseJSON.error) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong! \n" + jqXHR.responseJSON.error,

                });
            } else if (jqXHR.status === 400) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong! \n" + jqXHR.responseText,

                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong! \n" + jqXHR.responseText,

                });
            }
        }

        function showAllocation(button) {
            let row = button.closest('tr');
            console.log(row);
        }


    </script>

} 