@using AnsibeProject.Models;
@model List<Section>;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Dictionary<string, List<Section>> professorSections = new Dictionary<string, List<Section>>();
    List<Section> nullSections = new List<Section>();


    foreach (var section in Model)
    {
        if (section.Professor != null)
        {
            var professorName = section.Professor.FirstName + " " + section.Professor.LastName;

            if (!professorSections.ContainsKey(professorName))
            {
                professorSections[professorName] = new List<Section>();
            }
            professorSections[professorName].Add(section);

        }
        else
        {
            nullSections.Add(section);
        }
    }

}

<section class="Assign">
    <div>

        <table class="table Active-datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Professor Name</th>

                    <th>Section </th>
                    <th> Total Hours</th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                @if (ViewBag.professor != null)
                {
                    @foreach (var professor in ViewBag.professor)
                    {

                        var totalCombinedTDTP = 0;



                        var professorName = professor.FirstName + " " + professor.LastName;

                        <tr>
                            <td>
                                <input type="hidden" value="@professor.FileNumber" />
                            </td>
                            <td>
                                @professor.FullNameInArabic
                            </td>




                            <td>




                                <table class="table Active-datatable">
                                    <thead>
                                    <th></th>
                                    <th>Course Code</th>
                                    <th>Course Description</th>
                                    <th>Course Hours</th>
                                    <th>TD</th>
                                    <th>TP</th>
                                    <th>Language</th>
                                    

                                    </thead>

                                    <tbody id="tbody-@professor.FileNumber">
                                        @if (professorSections.ContainsKey(@professorName))
                                        {
                                            @foreach (var s in professorSections[professorName])
                                            {


                                                <tr>
                                                    <td>
                                                        <input type="hidden" value="@s.SectionId" />
                                                    </td>

                                                    <td>
                                                        @s.Course.CourseCode
                                                    </td>
                                                    <td>
                                                        @s.Course.CourseDescription
                                                    </td>
                                                    <td>
                                                        @s.CourseHours

                                                    </td>
                                                    <td>
                                                        @s.TD

                                                    </td>

                                                    <td>
                                                        @s.TP


                                                    </td>

                                                    <td>
                                                        @s.Language
                                                    </td>
                                                    <td style="display: none" id="ctptd" data-combinedtdtp="@((s.CourseHours ?? 0) + (s.TD ?? 0) + (s.TP ?? 0))">
                                                        @{
                                                            var combinedTDTP = (s.CourseHours ?? 0) + (s.TD ?? 0) + (s.TP ?? 0);
                                                            totalCombinedTDTP += combinedTDTP;
                                                        }


                                                    </td>
                                                    <td>
                                                        <button class="inline-delete-btn" onclick="confirmDeleteAssignement(this)">Delete</button>
                                                        <a href="#" class="clickable-icon" onclick="deleteSection(this)" style="background-color:transparent;">
                                                            <i class="fas fa-trash" style="color:#e74c3c; font-size:150%"></i>
                                                        </a>
                                                    </td>
                                                    @* "clickable-icon" *@
                                                </tr>
                                            }
                                            //

                                        }

                                    </tbody>
                                </table>



                            </td>
                            <td id="totalH-@professor.FileNumber">
                                @totalCombinedTDTP

                            </td>
                            <td><button class="inline-btn" onclick="showAssignSections(this)" type="button">Assign</button></td>



                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

    <div class="popup" id="popup1">

        <h2>Assign Professor</h2>
        <h1 class="heading">Sections</h1>
        <div class="box-container">
            <div class="box">
                <button type="button" onclick="saveProfessorAssign()" class="inline-btn">SAVE</button>
                <button type="button" onclick="cancelAssignProfessorSection()" class="inline-btn">Cancel</button>
                <table class="table table-striped Active-datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-searchable="true">Course Code</th>
                            <th data-searchable="true">Course Description</th>
                            <th data-searchable="true">Course Hours</th>

                            <th data-searchable="true">TD</th>
                            <th data-searchable="true">TP</th>

                            <th data-searchable="true">Language</th>


                        </tr>
                    </thead>
                    <tbody id="SectionId">


                        @foreach (var s in nullSections)
                        {



                            <tr>

                                <td>
                                    <input type="hidden" value="@s.SectionId" />
                                </td>
                                <td>
                                    @s.Course.CourseCode
                                </td>
                                <td>@s.Course.CourseDescription</td>
                                <td>
                                    @s.CourseHours
                                </td>
                                <td>
                                    @s.TD
                                </td>

                                <td>
                                    @s.TP
                                </td>

                                <td>
                                    @s.Language
                                </td>
                                <td>
                                    <input type="checkbox" id="myCheckbox" name="c1[]" />
                                </td>

                            </tr>

                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
