@using AnsibeProject.Models;
@model Ansibe;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="partial-view">
    <div class="box-container">
        <div class="box">
            <h3>Section/Professor</h3>
            <button class="inline-btn" onclick="showCreateSection()" type="button">Create Section</button>
            <button class="inline-btn" onclick="swapContent()" type="button">swap</button>
<form method="post" class="toggle-div hidden" style="display: none;">

    <table class="table table-striped Active-datatable">
        <thead>
            <tr>
                <th>Professor Id</th>
                <th>Professor Name</th>

                <th>Section </th>



            </tr>
        </thead>
        <tbody>
            @if (ViewBag.professors != null)
                                {

                                    @foreach (var professor in ViewBag.professors)
                                    {
                            if (professor.ActiveState.Equals(ActiveState.Active))
                            {
            
            <tr>
                <td>
                    @professor.FileNumber
                </td>
                <td>
                    @professor.FullNameInArabic
                </td>

                            
                

                <td>
                                            @if (Model != null)
                                            {

                                                @foreach (Section s in Model.Sections)
                                                {
                                                    if (professor.FileNumber == @s.Professor.FileNumber)
                                                    {
                    <table class="table table-striped Active-datatable">
                        <thead>
                        <th>Section Id</th>
                        <th>Course Code</th>
                        <th>Course Description</th>
                        <th>Course Hours</th>
                        <th>TD</th>
                        <th>TP</th>
                        <th>Language</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @s.SectionId
                                </td>

                                <td>
                                    @s.Course.CourseCode
                                </td>
                                <td>
                                    @s.Course.CourseDescription
                                </td>
                                <td>
                                    @s.CourseHours
                                </td>
                                <td>
                                    @s.TD
                                </td>

                                <td>
                                    @s.TP
                                </td>

                                <td>
                                    @s.Language
                                </td>
                                                                <td>
                                                                    <button class="inline-btn">Assign</button>
                                                                </td>
                                <td>
                                    <button class="inline-delete-btn">Delete</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                                                    
                    }
                    }
                    }
                                                </td>
                                            
        </tr>
        }
                                            }
                                        }
    </tbody>             
    </table>
   
                                            
     
   



</form>
</section>