@using AnsibeProject.Models;
@model List<Course>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="courses">

    <h1 class="heading">our courses</h1>
    <div class="box-container">
  
        <div class="box" >
            <div class="tutor">
                <h1>Add New Course</h1>
            </div>
           
            <a asp-controller="Course" asp-action="Add" class="inline-btn">add</a>

        </div>
        @if (Model != null && Model.Count() > 0)
        {

            foreach (var course in Model)
            {
                if (course.CourseState.Equals(ActiveState.Active))
                {
                    <div class="box" id="@course.CourseCode">
                        <div class="tutor">
                            <h1>@course.CourseCode</h1><br />
                            <h3>@course.CourseDescription</h3>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Course Major : @course.Major

                                </td>
                                <td>
                                    Numbero Of Credits : @course.NumberOfCredits

                                </td>
                            </tr>
                            <tr>
                                <td>
                                     Number Of Hours : @course.NumberOfHours

                                </td>
                                <td>
                                    TP : @course.TP

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TD : @course.TD
                                </td>
                                <td>
                                    Total hours : @course.TotalNumberOfHours
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Semester : @course.Semester
                                </td>
                                <td>
                                    Course State : @course.CourseState
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Obligatory : @course.Obligatory
                                </td>

                             
                            </tr>
                        </table>
                        <div class="flex-btn">
                            <a asp-controller="Course" asp-action="Edit" asp-route-CourseCode="@course.CourseCode" class="inline-btn">edit</a>
                            <a class="inline-btn" id="toggle-btn" asp-controller="Course" asp-action="ChangeState" asp-route-CourseCode="@course.CourseCode" asp-route-CourseState=@ActiveState.NotActive>Deactivate</a>
                            <a class="inline-delete-btn" onclick="confirmDelete('@course.CourseCode')">delete</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box unactive" id="@course.CourseCode">
                        <div class="tutor">
                            <h1>@course.CourseCode</h1><br />
                            <h3>@course.CourseDescription</h3>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Course Major : @course.Major

                                </td>
                                <td>
                                    Numbero Of Credits : @course.NumberOfCredits

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Number Of Hours : @course.NumberOfHours

                                </td>
                                <td>
                                    TP : @course.TP

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    TD : @course.TD
                                </td>
                                <td>
                                    Total hours : @course.TotalNumberOfHours
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Semester : @course.Semester
                                </td>
                                <td>
                                    Course State : @course.CourseState
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Obligatory : @course.Obligatory
                                </td>


                            </tr>
                        </table>
                        <div class="flex-btn">
                            <a asp-controller="Course" asp-action="Edit" asp-route-CourseCode="@course.CourseCode" class="inline-btn">edit</a>
                            <a class="inline-btn" id="toggle-btn" asp-controller="Course" asp-action="ChangeState" asp-route-CourseCode="@course.CourseCode" asp-route-CourseState=@ActiveState.Active>Activate</a>
                            <a class="inline-delete-btn" onclick="confirmDelete('@course.CourseCode')">delete</a>
                        </div>
                    </div>
                }
            }



        }
        else
        {
            <h1>No course</h1>
        }
    </div>
</section>
@section Scripts {
    <script>
        function toggleState(courseCode) {
            let body = document.getElementById(courseCode);
            body.classList.toggle('unactive');
        }
        function confirmDelete(courseCode) {
            Swal.fire({
                title: "Are you sure you want to delete this course?",
                text: "This action cannot be undone.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms, perform the delete action
                    window.location.href = "Course/Delete?CourseCode=" + courseCode;
                } else {
                    // If user cancels, show an informational message
                    Swal.fire("Deletion cancelled", "", "info");
                }
            });
        }
    </script>
}