using AnsibeProject.Models;
@model List<Course>

@if(Model!=null && Model.Count() >0){
    @foreach(var course in Model){
        <div class="box-container">
            <div class="box">
                <div class="info">
                    <h3>@course.CourseDescription</h3>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>
                            Course Code : @course.CourseCode
                            
                        </td>
                        <td>
                            Course Major : @course.Major
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Numbero Of Credits : @course.NumberOfCredits
                       
                        </td>
                        <td>
                            Number Of Hours : @course.NumberOfHours
                          
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TP : @course.TP
                        </td>
                        <td>
                            TD : @course.TD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total hours : @course.TotalNumberOfHours
                        </td>
                        <td>
                            Semester : @course.Semester
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Course State : @course.CourseState
                        </td>

                        <td>
                            Obligatory : @course.Obligatory
                        </td>
                    </tr>
                </table>
                <a asp-controller="CourseController" asp-action="Edit" asp-route-CourseCode="@course.CourseCode" class="inline-btn">edit course</a>
                <a asp-controller="CourseController" asp-action="Delete" asp-route-CourseCode="@course.CourseCode" class="inline-btn">delete course</a>
                <a href="#" class="inline-btn">Act course</a>
            </div>
        </div>
    }
}